.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin-top: 0px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.reservation__form {
  margin: auto;
}
